<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Aleatório por Tipo</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 500px;
            max-width: 100%;
        }
    </style>
</head>
<body>
    <div><p>Pelo tipo escolhido foi selecionado aleatoriamente o pokemon: <strong>{{random_pokemon_name}}</strong></p></div>
</body>
</html>
